{% extends 'base.html' %}
{% block main %}
{{ super() }}
<div id = tipsContainer>
   <div id="tips">
      <h1 id="title">טיפים לגולש המתחיל</h1>
      <br><br>
      <div id="tip1">
         <div class = "rightTips">
            <br><br><br>
            <h2 class="subTitle"> בחרו את הגלשן הנכון עבורכם</h2>
            <p class = "text" >גלשן גדול יותר הוא הרבה יותר פשוט ללמידה מאשר גלשן קצר.<br>
               גלשן באורך 2.4-2.7 מטר בעל קצה רך הוא מושלם למתחילים.
            </p>
         </div>
         <div id="tip1Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg1.png')}}" class="leftImg">
         </div>
      </div>
      <div id= "tip2" >
         <div id="tip2Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg2.jpg')}}" class="rightImg">
         </div>
         <div class = "leftTips">
            <br><br><br>
            <h2 class="subTitle">למדו את הגלים</h2>
            <p class = "text" >ישנם הרבה סוגים של גלים בסוגים שונים של חופים.<br>
               מצאו את החוף עם הגלים הכי רכים וסלחניים, תשאירו את הגלים הקשים למקצועניים להתחלה.
            </p>
         </div>
      </div>
      <div id="tip3">
         <div class = "rightTips">
            <br><br><br>
            <h2 class="subTitle"> בחרו חליפת גלישה מתאימה</h2>
            <p class = "text" >תלוי בתנאים שאתם גולשים, חליפת הגלישה שלכם תעשה את כל ההבדל. <br>
               אם אתם נמצאים במקום בעל טמפרטורות נמוכות, חפשו חליפת גלישה של 4 מ"מ. <br>
               אם אתם גולשים בתנאים חמים יותר, ⅔ מ"מ עדיף יותר.
            </p>
         </div>
         <div id="tip3Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg3.jpg')}}" class="leftImg" id="suitImg">
         </div>
      </div>
      <div id= "tip4" >
         <div id="tip4Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg4.jpg')}}" class="rightImg" id="windImg">
         </div>
         <div class = "leftTips">
            <br><br><br>
            <h2 class="subTitle">שימו לב לרוח</h2>
            <p class = "text" >כאשר הרוח נושבת כנגד הים, תמצאו את התנאים הטובים ביותר לגלישה. <br>
               כאשר הרוח נושבת לכיוון החוף, הגלים כנראה יהיו מרושלים ויותר קשים לגלישה.
            </p>
         </div>
      </div>
      <div id="tip5">
         <div class = "rightTips">
            <br><br>
            <h2 class="subTitle">אוכל</h2>
            <p class = "text" >לפני הכניסה למים כדאי לאכול משהו לא כבד מידי, כי מניסיון, זה עולה! <br>
               הקפידו לאכול משהו קטן שייתן לכם מספיק אנרגיה לאימון גלישה,<br>
               אנחנו ממליצים על אוכל כמו בננות, תמרים ולא ארוחה רצינית.
            </p>
         </div>
         <div id="tip5Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg5.jpg')}}" class="leftImg" id="foodImg">
         </div>
      </div>
      <div id= "tip6" >
         <div id="tip6Img">
            <img src="{{ url_for('.static', filename = 'media/tipImg6.jpg')}}" class="rightImg" id="seaImg">
         </div>
         <div class="leftTips">
            <br><br>
            <h2  class="subTitle">הים הוא החזק מכולם</h2>
            <p class = "text" >זכרו להיכנס לים עם ביטחון עצמי ומחשבה, אבל תמיד לכבד ולהעריך את הים, <br>
               הוא הרבה יותר חזק מאתנו לא משנה מה נעשה ולכן חשוב לזרום איתו ולא לנסות להתנגד לו,
               לפחד אבל לא להיכנס לפאניקה. <br>
               גם אם ערבל אתכם גל כמה שניות מתחת למים אל תלחמו בים, <br>
               תנו לעצמכם כמה שניות ומיד תצופו בחזרה כלפי מעלה. <br><br><br>
            </p>
         </div>
      </div>
      <br><br><br><br>
      <div id="freqQuestions">
         <h1 id="title">שאלות נפוצות</h1>
         <details class="QA">
            <summary >מהו הזמן הטוב ביותר ללימוד גלישת גלים?</summary>
            רוב הגולשים נהנים יותר בקיץ בגלל טמפרטורת הים החמה, <br>
            הגלים טובים יותר בחורף בדרך כלל לכן כדאי להתחיל ללמוד בקיץ ובחורף להשכיר גלשן וליהנות מהגלים.</p>
         </details>
         <br>
         <details class="QA">
            <summary>כמה שיעורים צריך לקחת כדי לדעת לגלוש?</summary>
            מומלץ לקחת קורס של 3- 4 שיעורים ולאחר מכן לקחת שיעורי חיזוק במידת הצורך.
         </details>
         <br>
         <details class="QA">
            <summary>האם דרוש ידע בשחייה?</summary>
            ידע בסיסי בשחייה הוא הכרחי לצורך גלישת גלים.
         </details>
         <br>
         <details class="QA">
            <summary>ומה עם המדוזות?</summary>
            כדי למנוע את רוב הצריבות מהצריבות מומלץ ללבוש מתחת למכנסי הגלישה מכנס טייץ ארוך (הריר של המדוזה אינו חודר לייקרה). <br>
            לחלקים שנשארים חשופים ניתן לרכוש תכשיר הגנה ממדוזות.
         </details>
         <br><br><br>
      </div>
   </div>
</div>
{% endblock %}