<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find a Beach</title>
    <link rel="stylesheet" href="..//static/style.css">
    <script defer src="..//static/functions.js"></script>

</head>

<body>

    <div id = "findABeachContainer">
        

        <div class="videoBox">
            <div class="wrapper">
                <video  width= 960 height = "540" muted loop autoplay>
                    <source src="..//static/pexels-jess-vide-5230339.mp4" type = "video/mp4">
                </video>
            </div>
        </div>
        
        <div id="titleDiv">
            <h1 class=title> מצא חוף לגלישה </h1> 
        </div>
       

        <div id="shareLocation"> 
            <h3 class = sub_Title >  שתף מיקום <br> ומצא את החוף הקרוב אליך  </h3> 
            <input id="locaionImg" value ="Location" type="image" src="..//static/locationImg.png" onclick="GetLocation()">
            <p id = "p"></p>
                
        </div>

        <div id="orDiv">
            <p id="or">או</p>
        </div>
            
        <div id="insertCity">
            <form action="" method="get">
                <br>
                <h3 class=sub_Title> הזן עיר למציאת חוף </h3> <br>
                <label class = "findABeachLabel" for="beaches">עיר: </label>
                <input list= beachesList name="beaches" class="findABeachInput" required onkeydown="IgnoreAlpha(event);" placeholder="הרצליה" >
                <datalist id= "beachesList">
                    <option value = "תל אביב-יפו">
                    <option value = "הרצליה">
                    <option value = "נתניה">
                    <option value = "חיפה">
                    <option value = "ראשון לציון">
                </datalist><br> <br>
            </form>
        </div>      
                 
        <div id="beachSurfInfo">
            <form action="" method="get">
                <p id="moreDetails"> לתוצאות טובות יותר,<br> מלא את הפרטים הנוספים: </p> 
                <label class = "findABeachLabel" for="supplies"> ציוד גלישה: </label>
                <input list= suppliesList name="supplies" class="findABeachInput" > 
                <datalist id= "suppliesList">
                    <option value = "יש לי, תודה">
                    <option value = "אני מעוניין לשכור ציוד גלישה">
                </datalist> <br> <br>

                <label class = "findABeachLabel" for="supplies" >  שעה רצויה:  </label>
                <input list= hourList name="hour" class="findABeachInput" > 
                <datalist id= "hourList">
                    <option value = "00:00 - 01:00">
                    <option value = "01:00 - 02:00">
                    <option value = "02:00 - 03:00">
                    <option value = "03:00 - 04:00">
                    <option value = "04:00 - 05:00">
                    <option value = "05:00 - 06:00">
                    <option value = "06:00 - 07:00">
                    <option value = "07:00 - 08:00">
                    <option value = "08:00 - 09:00">
                    <option value = "9:00 - 10:00">
                    <option value = "10:00 - 11:00">
                    <option value = "11:00 - 12:00">
                    <option value = "12:00 - 13:00">
                    <option value = "13:00 - 14:00">
                    <option value = "14:00 - 15:00">
                    <option value = "15:00 - 16:00">
                    <option value = "16:00 - 17:00">
                    <option value = "17:00 - 18:00">
                    <option value = "18:00 - 19:00">
                    <option value = "19:00 - 20:00">
                    <option value = "20:00 - 21:00">
                    <option value = "21:00 - 22:00">
                    <option value = "22:00 - 23:00">
                    <option value = "23:00 - 00:00">
                </datalist> <br> <br> 
                 
            </form>

            <form method="POST" action="near beaches.html">  
                <input id = submitButton type="submit" value="חפש"> <br> <br>
            </form>
        </div>  
        <nav>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <div class="logo">
                <img src="..//static/logo.png" id="logo">
            </div>
            
            <ul class="nav-links">
              <li><a href="Find a Beach.html">מצא חוף</a></li>
                <li><a href="Surfing Clubs.html"> מועדוני גלישה</a></li>
                <li><a href="save beach.html"> שמירה על חופי ישראל</a></li>
                <li><a href="tips.html"> טיפים ושאלות נפוצות</a></li>
                <li><a href="Contact Us Surf.html"> צור קשר</a></li>
            </ul> 

           
        </nav>
        
    </div>

</body>
</html>