<!DOCTYPE html>
<html lang="en" dir="rtl">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Save beach</title>
      <link rel="stylesheet" href="..//static/style.css">
      <script defer src="..//static/functions.js"></script>
   </head>
   <body>
      <div id="saveBeachContainer">
         <nav>
            <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
            </div>
            <div class="logo">
               <img src="..//static/logo.png" id="logo">
            </div>
            <ul class="nav-links">
               <li><a href="Find a Beach.html">מצא חוף</a></li>
               <li><a href="Surfing Clubs.html"> מועדוני גלישה</a></li>
               <li><a href="save beach.html"> שמירה על חופי ישראל</a></li>
               <li><a href="tips.html"> טיפים ושאלות נפוצות</a></li>
               <li><a href="Contact Us Surf.html"> צור קשר</a></li>
            </ul>
         </nav>
         <h1 id="mainTitle">שמירה על החופים שלנו</h1>
         <h2 id="title">איך תוכל לשמור על החוף?</h2>
         <div class="flex-container1">
            <div class="flex-container1-2">
               <div class="flex-child">
                  <h3 class="sentence"> אל תביא לחוף הים כלים חד פעמיים או שקיות פלסטיק </h3>
                  <p class="index">1 </p>
               </div>
               <div class="flex-child">
                  <h3 class="sentence">אל תזרוק למים כלום. השאר אותם נקיים</h3>
                  <p class="index">2 </p>
               </div>
            </div>
            <div class="flex-container3-4">
               <div class="flex-child">
                  <h3 class="sentence">אסוף את כל הפסולת והשלך אותה רק בפח הזבל. אם אין פחי זבל- קח את האשפה איתך הביתה </h3>
                  <p class="index">3 </p>
               </div>
               <div class="flex-child">
                  <h3 class="sentence"> אל תשאיר את בדלי הסיגריות טמונים בחול. הם אמנם זעירים, אך מכילים חומרים מרעילים ומזהמים בכמויות גדולות </h3>
                  <p class="index">4 </p>
               </div>
            </div>
         </div>
         <div class="flex-container2">
            <div class="flex-container5-6">
               <div class="flex-child">
                  <h3 class="sentence">נתקלת באשפה על החוף? תן דוגמא לילדיך ואסוף אותה</h3>
                  <p class="index">5 </p>
               </div>
               <div class="flex-child">
                  <h3 class="sentence">אל תאכיל את חיות הבר</h3>
                  <p class="index">6 </p>
               </div>
            </div>
            <div class="flex-container7-8">
               <div class="flex-child">
                  <h3 class="sentence">הימנע מהימצאות בקרבת שטח המחייה של חיות הבר על מנת לא לסכנם</h3>
                  <p class="index">7 </p>
               </div>
               <div class="flex-child">
                  <h3 class="sentence">גם פסולת אורגנית היא פסולת. אף אחד לא רוצה לדרוך על שאריות האבטיח שלנו</h3>
                  <p class="index">8</p>
               </div>
            </div>
         </div>
         <h2 id="finalSentence">רק כך נוכל להמשיך ליהנות מהים, למעננו ולמען הדורות הבאים!</h2>
         <img class="images" id="seaTurtle" src="../static/seaTurtle.png" >
      </div>
   </body>
</html>