<!DOCTYPE html>
<html lang="en" dir="rtl">
   <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="..//static/style.css">
      <script defer src="..//static/functions.js"></script>
   <body >
      <div id="gridContainerSurfingClubs">
         <h1> מועדוני גלישה בארץ </h1>
         <div class=fullPage>
            <!--club 1-->
            <p class =subTitle >    אלוהה בית ספר לגלישה – ALOHA  </p>
            <p class =subsubTitle >    תל אביב  </p>
            <div class="clubInfoWrap">
               <img  class="clubPic" src="..//static/ALOHA.jpg" alt="ALOHA" /> <br> <br>
               <div class="centeredText">
                  <p class =FreeText>יחידים וקבוצות, פרטיים וחברות, עם חוויות לכל הגילאים. טובי מדריכי הגלישה ממתינים לקחת אתכם למסע בין הגלים. <br> 
                     המועדון מציע ציוד גלישה להשכרה. <br> 
                     כתובת: דוד רזיאל 11, תל אביב-יפו, 6802113 <br>
                     טלפון: 054-940-0815 <br><br>
                     שעות פעילות:
                     <br>יום ראשון	7:15–17:00
                     <br>יום שני 	7:15–17:00 	 
                     <br>יום שלישי 	7:15–17:00 	 
                     <br> יום רביעי	7:15–17:00
                     <br> יום חמישי	7:15–17:00
                     <br> יום שישי	8:00–17:00
                     <br>יום שבת  	8:00–14:00
                     <br><br>
                  </p>
               </div>
            </div>
            <!--club 2-->
            <p class = subTitle >    מאיהסרפ - MAYASURF  </p>
            <p class = subsubTitle >    תל אביב  </p>
            <div class="clubInfoWrap">
               <img  class="clubPic" src="..//static/MAYASURF.jpg" alt="MAYASURF"> <br> <br>
               <div class="centeredText">
                  <p class = FreeText>   מומחית ומובילה בישראל בלימוד גלישת גלים לנשים, קורס גלישת גלים, קורס סאפ , חתירה על סאפ וקייטנת גלישה לילדים, במסגרת קטנה בחגים ובחופשת הקיץ. <br> 
                     המועדון מציע ציוד גלישה להשכרה. <br> 
                     כתובת: המלך חירם 4, תל אביב-יפו <br>
                     טלפון 052-341-9009: <br><br>
                     שעות פעילות:
                     <br>יום ראשון	7:00–17:00
                     <br>יום שני 	7:00–17:00 	 
                     <br>יום שלישי 	7:00–17:00 	 
                     <br> יום רביעי	7:00–17:00
                     <br> יום חמישי	7:00–17:00
                     <br> יום שישי	7:00–12:00
                     <br>יום שבת  	7:00–12:00
                     <br><br>
                  </p>
               </div>
            </div>
            <!--club 3-->
            <p class = subTitle >   המועדון של לירן מחלב  </p>
            <p class = subsubTitle >    פתח תקווה ובאזורים בקרבת מקום  </p>
            <div class="clubInfoWrap">
               <img id="liranPic" class="clubPic" src="..//static/liran.jpg" alt="LIRAN"> <br> <br>
               <div class="centeredText">
                  <p class = FreeText> מועדון גלישה/קייטנות /אירועים על הים. <br> 
                     המועדון מציע ציוד גלישה להשכרה. <br> 
                     כתובת: הצדף 3, הרצליה, 4655202 <br>
                     אזורים שבהם ניתן השירות: פתח תקווה ובאזורים בקרבת מקום  <br>
                     טלפון 054-772-8656: <br> <br>
                     שעות פעילות:
                     <br>יום ראשון	7:00–17:00
                     <br>יום שני 	7:00–17:00 	 
                     <br>יום שלישי 	7:00–17:00 	 
                     <br> יום רביעי	7:00–17:00
                     <br> יום חמישי	7:00–15:00
                     <br> יום שישי	8:00–17:00
                     <br>יום שבת  	8:00–13:00
                     <br> 
                  </p>
               </div>
            </div>
            <!--club 4-->
            <p class = subTitle >   מועדון גלישה קטן בחוף  </p>
            <p class = subsubTitle >    געש  </p>
            <div class="clubInfoWrap">
               <img class="clubPic" src="..//static/gaash.jpg" alt="GAASH"> <br> <br>
               <div class="centeredText">
                  <p class = FreeText> מועדון גלישה געש הינו בית ספר לגלישה הוותיק ביותר באיזור שפועל מאז 2008 באווירה משפחתית ויחס אישי לכל תלמיד בחוף בקיבוץ געש. המועדון הינו בית ספר לגלישת גלים, ממוקם בקיבוץ געש כ5 דק הליכה לחוף. <br> 
                     המועדון מציע ציוד גלישה להשכרה. <br> 
                     כתובת: כתובת:  געש, 60950 <br>
                     טלפון: 052-447-0484 <br> <br>
                     שעות פעילות:
                     <br>יום ראשון  	8:00–16:00
                     <br>יום שני   	8:00–18:00 	 
                     <br>יום שלישי 	9:00–20:00 	 
                     <br> יום רביעי	8:00–20:30
                     <br>יום חמישי  פתוח 24 שעות
                     <br> יום שישי  	8:00–17:00
                     <br>יום שבת    	8:00–13:00
                  </p>
               </div>
            </div>
            <!--club 5-->
            <p class = subTitle >  Palmachim Surf Club  - מועדון גלישה פלמחים  </p>
            <p class = subsubTitle >    פלמחים  </p>
            <div class="clubInfoWrap">
               <img class="clubPic" src="..//static/palmachim.webp" alt="PALMACHIM"> <br> <br>
               <div class="centeredText">
                  <p class = FreeText> מועדון גלישה פלמחים קיים מספר שנים ומקיים מגוון רחב של פעילויות, פעילות של גלישת גלים,  קייטנות לאורך כל השנה, חוגים וקורסים, ימי כייף ואירועים באווירת החוף, המועדון ממוקם באחד החופים בשמורת הטבע פלמחים בקרבת קיבוץ פלמחים. <br> 
                     המועדון מציע ציוד גלישה להשכרה. <br> 
                     כתובת: כתובת: דרך הפלמ"ח, פלמחים <br>
                     טלפון: 052-454-5447 <br> <br>
                     שעות פעילות:
                     <br>יום ראשון 	7:00–19:00
                     <br>יום שני   	7:00–19:00 	 
                     <br>יום שלישי 	7:00–19:00 	 
                     <br> יום רביעי	7:00–19:00
                     <br> יום חמישי	7:00–19:00
                     <br> יום שישי  	8:00–19:00
                     <br>יום שבת             סגור
                  </p>
               </div>
            </div>
         </div>
         <nav>
            <div class="burger">
               <div class="line1"></div>
               <div class="line2"></div>
               <div class="line3"></div>
            </div>
            <div class="logo">
               <img src="..//static/logo.png" id="logo">
            </div>
            <ul class="nav-links">
               <li><a href="Find a Beach.html">מצא חוף</a></li>
               <li><a href="Surfing Clubs.html"> מועדוני גלישה</a></li>
               <li><a href="save beach.html"> שמירה על חופי ישראל</a></li>
               <li><a href="tips.html"> טיפים ושאלות נפוצות</a></li>
               <li><a href="Contact Us Surf.html"> צור קשר</a></li>
            </ul>
         </nav>
      </div>
   </body>
</html>